USE [master]
GO
/****** Object:  Database [ProjectManageDb]    Script Date: 12/18/2021 6:57:36 PM ******/
CREATE DATABASE [ProjectManageDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManageDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL\MSSQL\DATA\ProjectManageDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectManageDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.LOCAL\MSSQL\DATA\ProjectManageDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManageDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManageDb]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/18/2021 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[CompanyLocation] [nvarchar](max) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 12/18/2021 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] NOT NULL,
	[ProjectName] [nvarchar](max) NULL,
	[StartDate] [nvarchar](50) NULL,
	[EndDate] [nvarchar](50) NULL,
	[Priority] [nvarchar](50) NULL,
	[Progress] [nvarchar](50) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 12/18/2021 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] NOT NULL,
	[IssueDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/18/2021 6:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FirstName] [nvarchar](500) NULL,
	[SurName] [nvarchar](500) NULL,
	[DOB] [nvarchar](500) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](500) NULL,
	[Password] [nvarchar](500) NULL,
	[UserType] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Company] ([CompanyId], [CompanyName], [CompanyLocation]) VALUES (1001, N'Alchemy Software Limited', N'Yahya tower, 6th floor, lalkhanbazar, chattogram')
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [StartDate], [EndDate], [Priority], [Progress]) VALUES (1001, N'Stock management system', N'19/12/2021', N'25/12/2021', N'Medium', N'0')
INSERT [dbo].[Ticket] ([TicketId], [IssueDate]) VALUES (1001, N'19/12/2021')
INSERT [dbo].[Users] ([UserId], [FirstName], [SurName], [DOB], [Address], [Email], [Password], [UserType]) VALUES (1001, N'Sakib', N'Hossain', N'02/08/1996', N'Bohadderhat, Chandgaon, Chittagong', N'shfsakib@gmail.com', N'123', N'Admin')
INSERT [dbo].[Users] ([UserId], [FirstName], [SurName], [DOB], [Address], [Email], [Password], [UserType]) VALUES (1002, N'Ishraq', N'Hoque', N'01/01/1995', N'Chittagong', N'ishraq@gmail.com', N'123', N'Staff')
INSERT [dbo].[Users] ([UserId], [FirstName], [SurName], [DOB], [Address], [Email], [Password], [UserType]) VALUES (1003, N'Jahangir', N'Jumon', N'07/09/1994', N'Cumilla', N'jahangir.jumon@gmail.com', N'123', N'Staff')
USE [master]
GO
